body 
{
    background-image: url(https://kartinkin.com/uploads/posts/2021-04/1617281683_37-p-neon-fon-40.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: lightgray;
    margin: 0px;
}
.name{
    position: absolute;
    border-radius: 10px;
    padding: 10px 10px 50px 10px;
    background: lightskyblue;
    width: auto;
    opacity: 60%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 66px;
}

.header{
    padding: 20px 0px 20px 0px;
    border-bottom:4px solid rgb(0, 50, 107);
    text-align: right;
    color: white;
    background-color: rgb(0, 117, 153);
    
}
.mail{
    padding-left: 0px;
    padding-right: 50px;
    vertical-align: 50%;
}
.github{
    vertical-align: 50%;
}
.lineblock{
    display:inline-block;
}
.imagemail{
    padding-left: 20px;
}
.slogan{
    font-size: 30px;
    position: absolute;
    width: 405px;
    padding: 0px 10px 0px 10px;
    text-align-last: justify;
    white-space: nowrap;
}
